<div class="container">
  <h2 id="title">Marketplace</h2>
  {{outlet}}

  {{#link-to 'index'}}Home{{/link-to}} | 
  {{#link-to 'view-shopping-cart'}}Cart{{/link-to}} | 
  {{#link-to 'admin'}}admin{{/link-to}}
</div>
